.countries-map {

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background-color: #333333;
}


.countries-map-svg path {
  fill: #686868;
}


.countries-map-svg path.hovered-country {
	cursor: pointer;
	fill: rgba(105, 105, 105, 0.67);
	transition: 0.4s;
}


.countries-map-svg path.visited-country {
	fill: blue;
	cursor: pointer;
}

